plugins/**
types/**
!plugins/VsLayeredDisplay.*
!plugins/Vs.d.*
demo/audio/*
demo/css

demo/effects
demo/icon
demo/fonts
demo/img/*
demo/js/libs
demo/js/rmmz_*
!demo/img/pictures/
demo/js/main.js
demo/package.json
demo/save/config.rmmzsave
demo/save/file0.rmmzsave
demo/save/global.rmmzsave
demo/data/Actors.json
demo/data/Animations.json
demo/data/Armors.json
demo/data/Classes.json
demo/data/Enemies.json
demo/data/Items.json
demo/data/Skills.json
demo/data/States.json
demo/data/Tilesets.json
demo/data/Troops.json
demo/data/Weapons.json
demo/512.png
demo/32.png
